* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: 'Gotham';
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

#intro {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    font-weight: bold;
    grid-template-columns: 1fr;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.name {
    color: white;
    position: relative;
    animation: firstname 4s;
    left: 0px;
    top: 10px;
}

.last {
    color: #333399;
    margin-block-start: -1.1em;
    position: relative;
    animation: lastname 4s;
    right: 0px;
    top: 10px;
}

.short {
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-block-start: -2.5em;
    position: relative;
    right: 0px;
    top: 0px;
    animation: short 4s forwards 1s;
    visibility: hidden;
    transition: all 1s;
}


#start {
    font-size: 18px;
    text-decoration: none;
    color: yellow;
    position: relative;
    right: 0px;
    top: 0px;
    animation: start 4s forwards 3s;
    visibility: hidden;
    transition: all 1s;
}

#page {
    position: relative;
    font-size: 18px;
    background-color: #18181880;
    top: 10vh;
    width: 45vw;
    transition: all 1s;
    color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border: white 1px solid;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    height: 50vh;
}

#footer {
    position: relative;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    background-color: #18181880;
    top: 10vh;
    width: 45vw;
    transition: all 1s;
    color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border: yellow 1px solid;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

.socials-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


@media screen and (max-width: 500px) {
    .socials-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.profolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 500px) {
    .profolio-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.profolio-grid img {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.profolio-grid-container {
    display: inherit;
    background: #333399;
    border-radius: 1em;
}

.profolio-grid-text {
    background-color: darkblue;
    padding: 1em;
    border-radius: 0em 0em 1em 1em;
}

.social-btn {
    width: fit-content;
}

.social-btn p {
    text-align: center;
}

.insta a {
    /* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
    font-size: 5em;
    padding: .1em .3em .1em .3em;
    border: #333399 3px solid;
    border-radius: 1em;
    transition: all .4s ease-in;
}

.insta a:hover {
    color: white;
    font-size: 5em;
    padding: .1em .3em .1em .3em;
    border: yellow 3px solid;
    border-radius: 1em;
}

.in a {
    background: #0A66C2;
    color: white;
    font-size: 5em;
    padding: .1em .3em .1em .3em;
    border: #333399 3px solid;
    border-radius: 1em;
    transition: all .4s ease-in;
}

.in a:hover {
    color: white;
    font-size: 5em;
    padding: .1em .3em .1em .3em;
    border: yellow 3px solid;
    border-radius: 1em;
}

.mail a {
    align-items: center;
    background: #F6F8FC;
    color: grey;
    font-size: 5em;
    padding: .1em .3em .1em .3em;
    border: #333399 3px solid;
    border-radius: 1em;
    transition: all .4s ease-in;
}

.mail a:hover {
    color: grey;
    font-size: 5em;
    padding: .1em .3em .1em .3em;
    border: yellow 3px solid;
    border-radius: 1em;
}

.github a {
    align-items: center;
    background: #F6F8FC;
    color: rgb(0, 0, 0);
    font-size: 5em;
    padding: .1em .3em .1em .3em;
    border: #333399 3px solid;
    border-radius: 1em;
    transition: all .4s ease-in;
}

.github a:hover {
    color: black;
    font-size: 5em;
    padding: .1em .3em .1em .3em;
    border: yellow 3px solid;
    border-radius: 1em;
}

@media (max-height: 650px) {
    #page {
        top: 15vh;
    }
}

@media (max-height: 510px) {
    #page {
        top: 20vh;
    }
}

@media (max-width: 1100px) {
    #page {
        width: 80vw;
    }
}

@media (max-width: 540px) {
    #page {
        width: 100%;
    }
}

@keyframes firstname {
    0% {
        color: #121212;
        left: 30vw;
        top: 10px;
    }

    25% {
        color: white;
        left: 0px;
        top: 10px;
    }

    100% {
        color: white;
        left: 0px;
        top: 10px;
    }
}

@keyframes lastname {
    0% {
        color: #121212;
        right: 30vw;
        top: 10px;
    }

    25% {
        color: #121212;
        right: 30vw;
        top: 10px;
    }

    35% {
        color: #121212;
        right: 30vw;
        top: 10px;
    }

    60% {
        color: #333399;
        right: 0px;
        top: 10px;
    }

    75% {
        color: #333399;
        right: 0px;
        top: 10px;
    }

    80% {
        color: #993333;
        right: 0px;
        top: 10px;
    }

    85% {
        color: #997033;
        right: 0px;
        top: 10px;
    }

    90% {
        color: #999733;
        right: 0px;
        top: 10px;
    }

    95% {
        color: #339933;
        right: 0px;
        top: 10px;
    }

    100% {
        color: #333399;
        right: 0px;
        top: 10px;
    }
}

@keyframes short {
    0% {
        color: #121212;
        top: 30vh;
        visibility: hidden;
    }

    90% {
        color: #121212;
        top: 30vh;
        visibility: hidden;
    }

    100% {
        color: #ffffff;
        top: 0vh;
        visibility: visible;
    }
}

@keyframes start {
    0% {
        color: #121212;
        top: 30vh;
        visibility: hidden;
    }

    90% {
        color: #121212;
        top: 30vh;
        visibility: hidden;
    }

    100% {
        color: yellow;
        top: 0vh;
        visibility: visible;
    }
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
